allow system_server fpc_extension_service:hwservice_manager find;

# charging switch
allow system_server sysfs_device_info:file { getattr open read write };
